html {
    overflow-x: hidden;
}

body {
    background: url(../img/bg.png) center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.zb-blur {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.zb-top {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.zb {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


.zb-left {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.zb-img {
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.logo {
    text-align: left;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 50px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul {
    background-color: rgba(250, 250, 250, 1.0);
    margin: 0px;

}

img {
    vertical-align: middle;
}