html {
    overflow-x: hidden;
}

body {
    background: url(../img/bg.png) center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

@media only screen and (orientation:landscape) {
    body {
        font-size: 16px;
    }

}

@media only screen and (orientation:portrait) {
    body {
        font-size: 40px;
    }

    h3 {
        font-size: 56px;
    }

    h5 {
        font-size: 48px;
    }
}

.zb-top {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.zb {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}


.zb-left {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.zb-img {
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.logo {
    text-align: left;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 50px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

ul {
    background-color: rgba(250, 250, 250, 1.0);
    margin: 0px;

}

img {
    vertical-align: middle;
}