<nav class="zb-top shadow p-1 navbar navbar-expand-sm">
    <div class="container-fluid">
        <a href="./index.html"><img src="./img/title.png" class="d-inline-block align-text-top" style="margin: 5px;"
                height="30"></a>
        <a class="navbar-brand">个人网站</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="background-color: rgba(255, 255, 255, 0);">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.html">主页</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        计算机
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://ianzb.github.io/project/">项目中心</a></li>
                        <li><a class="dropdown-item" href="http://49.232.214.85/">服务器</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="./phone.html">手机</a></li>
                        <li><a class="dropdown-item" href="./computer.html">电脑</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        游戏
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./game.html">Minecraft</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://ianzb.github.io/cm/">CM官网</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./astronomy.html">天文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./tool.html">工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./about.html">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>