body {
    background-image: url(img/bg.png);
    background-size: 100%;
    text-align: center;
}

.zb {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15px;
    border-radius: 7px;
}

.zb-title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 15px;
    border-radius: 7px;
}

.zb-left {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15px;
    border-radius: 7px;
}

.zb-img {
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 7px;
}

.logo {
    text-align: left;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 15px;
    border-radius: 50px;
}

ul {
    background-color: rgba(250, 250, 250, 1.0);
    margin: 0px;

}

img {
    vertical-align: middle;
}